@using AURA.EmergencyAssist.Models.SignalR
@model NotificationModel

@{ ViewData["Title"] = "SendToSpecificUser"; }
<h1>Index</h1>
@using (Html.BeginForm("SendToSpecificUser", "Admin", FormMethod.Post))
{
    <div class="row">
        <div class="col-6">
            User Id
        </div>
        <div class="col-6">
            @Html.TextBoxFor(model => Model.UserId, new { @maxlength = "50" })
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            Header
        </div>
        <div class="col-6">
            @Html.TextBoxFor(model => Model.Header, new { @maxlength = "50" })
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            Message Content :
        </div>
        <div class="col-6">
            @Html.TextBoxFor(model => Model.Content, new { @maxlength = "100" })
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            Message Longitude :
        </div>
        <div class="col-6">
            @Html.TextBoxFor(model => Model.Longitude, new { @maxlength = "100" })
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            Message Latitude :
        </div>
        <div class="col-6">
            @Html.TextBoxFor(model => Model.Latitude, new { @maxlength = "100" })
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            Subscriber ID :
        </div>
        <div class="col-6">
            @Html.TextBoxFor(model => Model.SubscriberID, new { @maxlength = "100" })
        </div>
    </div>
    <div>
        <button type="submit">Send to Specific User</button>
    </div>}