@model AURA.EmergencyAssist.Models.DataModels.RespondentTypeDataModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>RespondentTypeDataModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RespondentTypeID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RespondentTypeID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RespondentTypeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RespondentTypeName)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
